<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <title>{{.Title}}</title>
</head>

<body>
{{template "header"}}
<div id="container">
    <h2>アップローダ</h2>
    <hr>
    <div id="uploader">
        <form enctype="multipart/form-data" action="./uploader" method="post">
            <input type="file" name="upload_file" />
            <input type="submit" value="upload" />
        </form>
    </div>
    <hr>
    <div id="file_list">
        <table border=1>
            <tr>
                <th>Name</th>
                <th>Download</th>
                <th>Remove</th>
            </tr>
            {{range .Content}}
            <tr>
                <td>{{.}}</td>
                <td>
                    <a href="./files/uploader/{{.}}" download>download</a>
                </td>
                <td>
                    <input type="button" onClick="location.href='/delete?file={{.}}'">
                </td>
            </tr>
            {{end}}
        </table>
    </div>
</div>
</body>

</html>
